<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wayne.mist.benchmark"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mist_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.wayne.mist.benchmark.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.LocationActivity"
            android:label="@string/title_activity_location"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.SensorActivity"
            android:label="@string/title_activity_sensor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.WifiInfoActivity"
            android:label="@string/title_activity_wifi_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.SqliteActivity"
            android:label="@string/title_activity_sqlite"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.CacheActivity"
            android:label="@string/title_activity_cpu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.ScreenActivity"
            android:label="@string/title_activity_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.CalculatorActivity"
            android:label="@string/title_activity_calculator"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.PICalculatorActivity"
            android:label="@string/title_activity_picalculator"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.MathActivity"
            android:label="@string/title_activity_math"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.activity.WakeLockActivity"
            android:label="@string/title_activity_wakelock"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wayne.mist.benchmark.PrimeActivity"
            android:label="@string/title_activity_prime" >
        </activity>
    </application>

</manifest>
